<h2>About Me</h2>
<p>I am a PhD candidate studying Computer Science at <a href="https://www.trin.cam.ac.uk/">Trinity College</a>, <a href="https://www.cam.ac.uk/">University of Cambridge</a>. I have graduated from <a href="http://www.manchester.ac.uk/">University of Manchester</a> with BSc in Computer Science and Mathematics, and have graduated from University of Cambridge with MPhil in Computer Science and MASt in Mathematical Statistics. I worked for <a href="https://en.wikipedia.org/wiki/Amazon_Alexa">Amazon Alexa</a> and <a href="https://ai.weixin.qq.com/">Wechat AI</a> as applied scientist intern.</p>

<h2>Research Interests</h2>
<ul>
  <li>Statistical Learning</li>
  <li>Bayesian Deep Learning</li>
  <li>Graph Neural Network</li>
  <li>Natural Language Processing</li>
</ul>

<p>I love learning and creatively solving problems.</p>

<hr/>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/andiac">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook-square fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/zhangandiac">Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="https://uk.linkedin.com/in/zhangandi">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-weibo fa-lg main-list-item-icon"></span>
    <a href="http://weibo.com/andiac">Weibo</a>
  </li>
</ul>
