<h2><span class="shake">About Me</span></h2>

<p>I am a PhD student in Computer Science at Trinity College, University of Cambridge, supervised by <a href="https://www.cl.cam.ac.uk/~djw1005/">Dr. Damon Wischik</a>. I'll soon be joining the Centre for AI Fundamentals, University of Manchester as a research associate, working under <a href="https://kaski-lab.com/">Prof. Samuel Kaski</a>. My academic background includes a BSc in Computer Science and Mathematics from the University of Manchester, as well as an MPhil in Computer Science and an <span class="shake-crazy">MASt in Mathematics</span> from the University of Cambridge.</p>

<h2><span class="shake">Research</span> <span class="shake-rotate">Interests</span></h2>
<ul class="shake-trigger">
  <li>Statistical Learning</li>
  <li><span class="shake">Bayesian Deep Learning</span></li>
  <li><span class="shake-little">Deep Learning Robustness</span></li>
  <li><span class="shake">Probabilistic Generative Models</span></li>
</ul>

<p>I'm passionate about learning and creative problem-solving. I'm always open to collaboration - feel free to reach out to me at az381 [at] cantab [dot] ac [dot] uk.</p>

<hr/>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon shake"></span>
    <a href="https://github.com/andiac">GitHub</a>
  </li>
  <!-- <li class="main-list-item"> -->
  <!--   <span class="fa fa-facebook-square fa-lg main-list-item-icon shake"></span> -->
  <!--   <a href="https://www.facebook.com/zhangandiac">Facebook</a> -->
  <!-- </li> -->
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon shake"></span>
    <a href="https://uk.linkedin.com/in/zhangandi">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-graduation-cap fa-lg main-list-item-icon shake"></span>
    <a href="https://scholar.google.com/citations?user=qGAOAoYAAAAJ&hl=en">Google Scholar</a>
  </li>
  <!-- <li class="main-list-item"> -->
  <!--   <span class="fa fa-weibo fa-lg main-list-item-icon"></span> -->
  <!--   <a href="http://weibo.com/andiac">Weibo</a> -->
  <!-- </li> -->
</ul>
