<h2><span class="shake">About Me</span></h2>

<p class="shake-trigger">I am a <span class="shake-vertical">PhD student</span> in Computer Science at <span class="shake-little">Trinity College</span>, University of Cambridge, supervised by <a href="https://www.cl.cam.ac.uk/~djw1005/">Dr. Damon Wischik</a>. I'll soon be joining the Centre for <span class="shake-rotate">AI Fundamentals</span>, University of Manchester as a research associate, working under <a href="https://kaski-lab.com/">Prof. Samuel Kaski</a>. My academic background includes a BSc in Computer Science and Mathematics from the University of Manchester, as well as an MPhil in Computer Science and an <span class="shake">MASt in Mathematics</span> from the University of Cambridge. See my <a href="https://andi.ac/cv.pdf">CV</a> for full details.</p>

<!-- <h2><span class="shake">Research</span> <span class="shake-rotate">Interests</span></h2> -->
<!-- <ul class="shake-trigger"> -->
<!--   <li><span class="shake-little">Statistical</span> Learning</li> -->
<!--   <li><span class="shake">Bayesian</span> Deep Learning</li> -->
<!--   <li>Deep Learning <span class="shake-vertical">Robustness</span></li> -->
<!--   <li><span class="shake-rotate">Probabilistic</span> Generative Models</li> -->
<!-- </ul> -->
<p class="shake-trigger">I'm passionate about learning and creative problem-solving. I'm always open to collaboration - feel free to reach out to me at az381 <span class="shake-horizontal">[at]</span> cantab <span class="shake">[dot]</span> ac <span class="shake-vertical">[dot]</span> uk.</p>

<h2><span class="shake">Selected</span> <span class="shake-rotate">Publications</span></h2>
<p class="shake-trigger"><b>Constructing Semantics-Aware Adversarial Examples with Probabilistic Perspective</b> <a href="https://arxiv.org/abs/2306.00353">[arxiv]</a><br><span class="shake">Andi Zhang</span>, Mingtian Zhang, Damon Wischik.<br><b>NeurIPS 2024</b></p>
<p class="shake-trigger"><b>On the Out-of-Distribution Generalization of Probabilistic Image Modelling</b> <a href="https://arxiv.org/abs/2109.02639">[arxiv]</a><br>Mingtian Zhang*, <span class="shake">Andi Zhang*</span>, Steven McDonagh.<br><b>NeurIPS 2021</b></p>


<hr/>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon shake"></span>
    <a href="https://github.com/andiac">GitHub</a>
  </li>
  <!-- <li class="main-list-item"> -->
  <!--   <span class="fa fa-facebook-square fa-lg main-list-item-icon shake"></span> -->
  <!--   <a href="https://www.facebook.com/zhangandiac">Facebook</a> -->
  <!-- </li> -->
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon shake"></span>
    <a href="https://uk.linkedin.com/in/zhangandi">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-graduation-cap fa-lg main-list-item-icon shake"></span>
    <a href="https://scholar.google.com/citations?user=qGAOAoYAAAAJ&hl=en">Google Scholar</a>
  </li>
  <!-- <li class="main-list-item"> -->
  <!--   <span class="fa fa-weibo fa-lg main-list-item-icon"></span> -->
  <!--   <a href="http://weibo.com/andiac">Weibo</a> -->
  <!-- </li> -->
</ul>
